.navbar-toggler {
  border: none !important; 
  padding: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  box-shadow: none !important;
}
.navbar-toggler-icon {
  display: none;
}
.collapse.navbar-collapse.show {
  display: block;
  transition: all 0.3s ease; 
}
.text-white{
    color: white;
}
