@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home-background {
  background-image: url('./Assets/Home.png'); 
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  width: 100%; 
  display: flex;
  flex-direction: column;
}


/* .about-background {
  background-image: url('../Assets/About.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-background {
  background-image: url('../Assets/Gallery.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial-background {
  background-image: url('../Assets/Testimonial.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.price-background {
  background-image: url('../Assets/Price.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-background {
  background-image: url('../Assets/ContactUs.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
